
/* Roboto and Nunito import */
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

html {
	font-family: 'Nunito';
	color: white;
}

main {
	padding-top: 64px;
	margin-right: 20%;
	margin-left: 20%;
	font-size: large;
}

h1 {
	text-align: center;
	font-size: 500%;
	font-family: 'Nunito', sans-serif;
	padding-top: 50px;
	padding-bottom: 0px;
}

body {
	margin-left: auto;
	margin-right: auto;
	font-size: 100%;
	font-weight: 500;
	background-color: #303040
}

a {
	color: white;
}

nav {
	width: 100%;
}

li {
	padding: 16px;
}

nav ul {
	list-style-type: none;
	width: auto;
	height: auto;
	display: flex;
	justify-content: space-evenly;
}

nav li {
	text-align: center;
	display: flex;
}

nav ul li a {
	font-style: italic;
	font-size: x-large;
	font-weight: bold;
	padding: 16px;
	padding-right: 64px;
	padding-left: 64px;
	background-color: #008080;
	border-radius: 10px;
	text-decoration: none;
}
